<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleFont</key>
	<dict>
		<key>type</key>
		<string>bold</string>
		<key>size</key>
		<integer>16</integer>
	</dict>
	<key>subTitleFont</key>
	<dict>
		<key>type</key>
		<string>italic</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>descriptionFont</key>
	<dict>
		<key>type</key>
		<string>bold</string>
		<key>size</key>
		<integer>19</integer>
	</dict>
</dict>
</plist>
